body,
#navbar {
    background-color: rgb(25, 1, 41);
}

hr {
    background-color: rgb(170, 170, 170);
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Ubuntu;
    color: rgb(235, 235, 235);
}

p {
    font-family: Poppins;
    color: rgb(175, 175, 175);
}

#navbar {
    position: fixed;
    width: 100%;
    transition: 0.7s;
    z-index: 3;
}

.navbar {
    box-shadow: 0 0.5px 2px rgb(175, 175, 175);
}

.nav-link {
    margin: 0 3px;
}

.jumbotron {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: transparent;
}

.tema {
    margin: 10px 10px;
}

.artikel {
    padding-top: 50px;
}

.artikel img {
    display: block;
    width: 30%;
    height: 30%;
    margin: 0 auto 0 auto;
}

.sidebar-kanan,
.artikel-inti,
.bungkus-tema {
    background-color: rgba(88, 88, 88, 0.5);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-kanan li {
    list-style: none;
}

.card-deck {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card-deck img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.card {
    background-color: darkslategrey;
    margin: 0 4px 0 4px;
    width: 46%;
}


.footer {
    background-color: rgba(88, 88, 88, 0.5);
}


@media (min-width: 992px) {
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid white;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
}

@media (min-width: 768px) {
    .background-jumbotron {
        background-image: url(img/home4.png);
        background-repeat: no-repeat;
        background-position: right top;
        height: 200px;
        margin-bottom: -169px;
        margin-top: 50px;
    }
}

@media only screen and (min-device-width:576px) {
    .artikel img {
        width: 80%;
    }
}

@media only screen and (min-device-width:320px) {

    .card p,
    h5 {
        font-size: medium;
    }
}