p {
    font-family: Poppins;
}

body {
    background-color: rgb(218, 218, 218);
}

#navbar {
    position: fixed;
    width: 100%;
    transition: 0.3s;
    z-index: 2;
}



.jumbotron {
    padding-top: 100px;
    padding-bottom: 100px;
}

.tema {
    margin: 10px 10px;
}

.card-deck {
    text-align: center;
}

.card-deck img {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

@media only screen and (min-device-width:992px) {

    /*Parallax*/
    .parallax {
        /* The image used */
        background-image: url("img/parallax.jpg");

        /* Set a specific height */
        height: 550px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}