p {
    font-family: Poppins;
}

#navbar {
    position: fixed;
    width: 100%;
    transition: 0.3s;
    z-index: 2;
}

.jumbotron {
    padding-top: 100px;
    padding-bottom: 100px;
}

.jumbotron,
h1,
h2 {
    font-family: Ubuntu;
}

.tema {
    margin: 10px 10px;
}

.artikel {
    padding-top: 50px;
}

.artikel img {
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto 0 auto;
}

.card-deck {
    text-align: center;
}

.card-deck img {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

@media only screen and (min-device-width:992px) {

    /*Parallax*/
    .parallax {
        /* The image used */
        background-image: url("img/parallax.jpg");

        /* Set a specific height */
        height: 550px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (min-device-width:576px) {
    .artikel img {
        width: 80%;
    }
}